@font-face {
    font-family: shlomo;
    src: url(./fonts/Shlomo.ttf);
}

html {
    margin: auto;
    /*line-height: 120%;*/
    color:#000; background-color: #fdf5e6;
    padding: 1em;
    font-size: 1em;
    font-weight: normal;
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    /*width: 75vw;*/
    border-collapse: collapse;
}

thead tr {
    line-height: 2em;
    font-size: xx-large;
}

td {
    word-wrap: break-word;
    white-space: normal;
    padding: 1px;
    border-left: none;
    border-right: none;
    border-top: 1px solid lightyellow;
    border-bottom: 1px solid lightyellow;
    font-size: x-large;
    line-height: 2em;
}

.row_txt {
    width: 95%;
}

.row_num {
    padding-left: 20px;
}

#prakimHeader {
    width: 100%;
    font-size: medium;
    cursor: pointer;
}

.btn svg {
    width: 24px;
    height: 24px;
}
/**/


.hebrew {
    font-family: 'shlomo';
    /*font-size: 150%;*/
    /*line-height: 110%;*/
    /*font-weight: normal;*/
    direction: rtl;
}

.buttons {
    /*direction: rtl;*/
    color:#000; background-color: #fdf5e6;

    position: sticky;
    top: 0;
}

button {
    background: none;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#progressContainer {
    max-width: 400px;
    width: 100%;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    /*cursor: pointer;*/
    position: relative;
}

.progress {
    height: 5px;
    border-radius: 5px;
    width: 0;
}
#progress1{
    background: #007bff;

}
#progress2{
    width: 5px;
    background: #ff0000;

}
.time {
    /*font-size: 12px;*/
    color: #555;
    margin: 5px 0;
    display: inline;
    font-size: x-small;
    /*width: 60%;*/
}
input[type=range] {
    /*margin: 5px 0;*/
    /*background: #ccc;*/
    border-radius: 5px;
    /*height: 5px;*/
    margin: unset;
}
input[type=checkbox]    {
    margin-right:  0;
    margin-left:  0;
}
.volume {
    margin-left: 10px;
    width: 80px;
}

.speed {
    margin-left: 10px;
    width: 80px;
}

.container {
    display: block;
]}

label {
    direction: ltr;
    display: block;
    text-align: left;
    font-size: x-small;
    color: #555;
}

.active {
    color: red;
    font-size: xx-large;
}

/**/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    direction: ltr;
}

.dropdown-content label {
    display: inline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.highlight {
    color: red;
    font-weight: bold;
    background: lightyellow;
}

.highlight .row_num{
    font-size: xx-large;
    text-decoration: underline;
}

.downloadFixedTimes {
    color: #0066cc; /* Link blue color */
    text-decoration: underline; /* Underline text */
    cursor: pointer; /* Pointer cursor on hover */
}

.downloadFixedTimes:hover {
    color: #004999; /* Darker blue on hover */
}
